/sqldelv.java.smap
/sqlload.java.smap
/sqlnord.java.smap
/sqlords.java.smap
/sqlpaym.java.smap
/sqlstkl.java.smap
/tpccbmsm.java.smap
/tpccerrs.java.smap
/tpccplti.java.smap
/vsmdelv.java.smap
/vsmload.java.smap
/vsmnord.java.smap
/vsmords.java.smap
/vsmpaym.java.smap
/vsmstkl.java.smap
